/*--General styling for whole page--*/
* 
{
	box-sizing: border-box;
}

body 
{
    font-family: Optima, 'Century Gothic', Times, serif;
    line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2, h3, a 
{
    color: rgb(0,88,138);
}

h2, h3, h4 
{
	margin-top: 0;
}

h4 
{
	margin-bottom: .4em;
}

a 
{
	text-decoration: none;
}

img 
{
	max-width: 100%;
}

figure 
{
	margin: 0;
	line-height: 0;
	position: relative;
}

/*--Main header section--*/
.name 
{
	font-size: 1.25em;
	margin: 0;
}

.main-nav 
{
	margin-top: 5px;
}

.name a, .main-nav a 
{
    display: block;
    text-align: center;
    padding: 10px 15px;
}
	
.main-nav a 
{
    font-size: .95em;
    color: #3acec2;
    text-transform: uppercase;
}

.main-nav a:hover 
{
    color: #093a58;
}

.main-header 
{
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner, .main-footer 
{
	text-align: center;
}

.banner {
	color: #fff;
	background: rgb(0,183,199);
	padding: 3.2em 0;
	margin-bottom: 60px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 500px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) 
{
	body 
    {
		padding-top: 68px;
	}

	.main-header 
    {
		position: fixed;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
		width: 100%;
		top: 0;
		z-index: 1000;
	}

	.container 
    {
		width: 90%;
		margin: 0 auto;
	}

	.name, .col 
    {
		float: left;
	}

	.primary, .secondary 
    {
		width: 50%;
	}

	.main-nav 
    {
		float: right;
	}

	.main-nav li 
    {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}

	/*--Float clearfix--*/

	.clearfix::after 
    {
		content: " ";
		display: table;
		clear: both;
		padding:1rem;
	}
}

@media (min-width: 1025px) 
{
	.container 
    {
		width: 80%;
		max-width: 1150px;
	}

	.primary 
    {
		width: 70%;
	}

	.secondary 
    {
		width: 30%;
	}
}

/*--Tertiary div styling--*/

/* .tertiary 
{
	background-color: rgb(167,169,172);
}

.tertiary-col 
{
	width: 33.01%;
	display:inline-block;
	padding: 1rem 1rem;
	vertical-align: middle;
} */

.sub-img 
{
	width: 330px;
	height: 330px;
}

.col h1 
{
	text-align: center;
}

/*--Hotel vignette styling--*/

#wrapper 
{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 5%;
}
  
#wrapper a 
{
    text-decoration: none;
    color: #6ab47b;
}

#wrapper img 
{
    max-width: 100%;
}

#gallery 
{
    margin: 0;
    padding: 0;
    list-style: none;
}
  
#gallery li 
{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
}
  
#gallery li a p 
{
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #8f9091
}

#gallery li a p:hover 
{
	color:#3a3a3a;
	font-size: 1rem;
}

#gallery li:hover 
{
	background-color: #3acec2;
}

@media screen and (min-width: 480px) 
{
    #primary 
    {
        width: 50%;
        float: left;
    }
      
    #secondary 
    {
        width: 40%;
        float: right;
    }

    #gallery li 
    {
        width: 28.3333%;
    }
      
    #gallery li:nth-child(4n) 
    {
        clear: left;
    }
}